body{
    font-family: "Shippori Mincho" ,"Cormorant",  serif;
    color: #6E6D70;
}
.en{
    font-family: "Cormorant",  serif;
}
.hamburguer{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: solid 1px #6E6D70;
    position: relative;
}
.hamburguer span{
    width: 17px;
    height: 1px;
    background-color: #6E6D70;
    position: absolute;
    
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hamburguer span:nth-child(1){
    top: 12px;
}
.hamburguer span:nth-child(2){
    top: 20px;      
}

.main{
    padding-bottom: 40px;
}
.h1--title{
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 0.4em;
}
.title--name{
    font-size: 24px;
    margin-top: 24px;
}
.title--subname{
    font-size: 14px;
}
.mv{
    display: block;
    margin: 40px 0 0 auto;
    position: relative;
}
.mv::before{
    content: "";
    position: absolute;
    width: 215px;
    height: 315px;
    background-color: #D9D9D9;
    opacity: 0.4;
    right: 0;
    bottom: 0;
}
.profile {
    width: 200px;
    height: 300px;
    
    
}

.button-21 a {
    font-family: 'Noto Serif JP', serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 400;
    outline: 1px solid #333;
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    text-align: center; 
    padding: 16px 64px;
    margin: 24px;
    margin-inline: auto;
    text-decoration: none;
    cursor: pointer;
    z-index:999;
    transition: all 0.3s;
  }
  
  .button-21 a::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #eee9e6;
    z-index:-999;
    transition: all 0.3s ease;
  }
  
  .button-21 a:hover::before {
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  .contents {
    border-top: 1px solid #BAB8BF;
    padding: 40px 0 40px  0 ;
    font-size: 32px;
    color: #230050;
    text-align: center;
  }

  .about--1 {
    text-align: center;
  }

  .about p{
    margin: 16px 0 0 0;
  }

.profile--text{
    text-align: center;
    margin: 0 0 40px 0;
}

  .name {
    display:inline-block;
    text-align: left;
    margin: 16px 0 16px 0 ;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.13em;

  }

  .works-item-1 {
    text-align: center;
  }

  .works-item-2 {
    text-align: center;
  }

  .song-title {
    margin: 0 0 16px 0;
    font-size: 14px;
    text-align: center;
  }

  .video {
    padding: 0 0 40px 0;
    width:  350px;
    height: 250px;
    border-radius: 10%;
  }

  .lessons--text p {
    text-align: center;
  }

  .lessons-content p {
    text-align: center;
    
  }

  .lessons-content-item-img {
    width: 300px;
    text-align: center;
    display: inline-block;
  }

  .lessons-content {
    text-align: center;
  }

  .lessons-content-item {
    font-size: 20px;
    color: #230050;
    text-align: center;
    margin: 16px 0 16px 0 ;
  }

  .compose {
    text-align: center;
    border: 1px solid #BAB8BF ;
    border-radius: 10px;
    margin: 16px 8px 16px 8px  ;

  }

  .theory {
    text-align: center;
    border: 1px solid #BAB8BF ;
    border-radius: 10px;
    margin: 16px 8px 16px 8px  ;

  }

  .solfege {
    text-align: center;
    border: 1px solid #BAB8BF ;
    border-radius: 10px;
    margin: 16px 8px 16px 8px  ;

  }

  .piano--lesson {
    text-align: center;
    border: 1px solid #BAB8BF ;
    border-radius: 10px;
    margin: 16px 8px 16px 8px  ;

  }

  .compose p{
    text-align: center;
    margin: 16px 0 0 0;
  }

  .theory p {
    text-align: center;
    margin: 16px 0 0 0;

  }

  .solfege p {
    text-align: center;
    margin: 16px 0 0 0;

  }

  .piano--lesson p {
    text-align: center;
    margin: 16px 0 0 0;

  }

  .price {
    text-align: center;
    margin: 40px 0 40px 0;
  }

  .footer {
    background-color: #B6C8D7;
    text-align: center;
    padding: 0 0 16px 0 ;

  }

  .footer--item {
    display: inline-flex;
    margin: 16px 0 0 0;
  }

  .sitename  p{
    text-align: center;
    margin: 16px 0 0 0;
  }

